.bulletDiv {
    // border: 1px solid red;
    opacity: 0;
    position: absolute;    
}

.bulletSvg {
    width: 100%;
    height: 100%;
    // border: 1px solid green;
    & g {
        fill: green;
    }    
}
