@import './_reset.scss';
@import './_variables.scss';
@import './_mixins.scss';
@import './_board.scss';

html {
  --targetWidthFromJs: 0;
  user-select: none;
}

.mainWrap {
  height: 100vh;
  width: 100%;
  background-color: black;
  border: 1px solid $mainColor;
  @include alignContentCenterWithFlex();
}

.hidden {
	display: none;
}


