@import './_reset.scss';
@import './_variables.scss';
@import './_mixins.scss';
@import './_board.scss';

// :root {
//   --boardWidthFromJs: 50; 
// }

html {
  --targetWidthFromJs: 0; 
}

.mainWrap {
  height: 100vh;
  width: 100%;
  background-color: black;
  border: 1px solid $mainColor;
  @include alignContentCenterWithFlex();
}

.hidden {
	display: none;
}


